
body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header'
        'nav nav'
        'aside main'
        'footer footer'
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px auto auto 100px;
}
.header {
    grid-area: header;
    background-color: dodgerblue;
}
.nav {
    grid-area: nav;
    background-color: rgb(0, 0, 0);
   display: grid;
   grid-template-columns: repeat(4, auto);
}
.aside {
    grid-area: aside;
    background-color: aliceblue;
}
.main {
    grid-area: main;
    background-color: gray;
}
.footer {
    grid-area: footer;
    background-color: dodgerblue;
}

.nav__link {
    height: 50px;
    color: white;
    text-decoration: none;
    display: grid;
    place-content: center;
}
.nav__link-hover {
    background-color: white;

}

@media (max-width: 800px) {
    body {
        grid-template-areas: 
            'header'
            'nav'
            'main'
            'aside'
            'footer'
            grid-template-columns: auto;
            grid-template-rows: 100px 200px auto 100px;
    
    }
}
.nav {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 50px);
}
